/* Color scheme */
/* https://coolors.co/02111b-564138-fcf7f8-5b5b5b-ec7357 */

:root {
  --dark: #02111b;
  --light: #fcf7f8;
  --grey: #5b5b5b;
  --brown: #564138;
  --red: #ec7357;

  --spacer: 5rem;
}

/* Imports */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/* =========
   Resets
============ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light);
  transition: color 250ms ease-in-out;
}

ul {
  list-style: none;
}

button,
input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

textarea {
  background: transparent;
  border: 0;
  max-width: 760px;
  width: 95%;
  height: 100%;
  min-height: 10rem;
  resize: none;
  font-family: inherit;
  overflow: hidden;
}

/* Focus states */
a:focus,
button:focus,
textarea:focus,
input:focus,
.task-checkbox:focus + label,
[contenteditable="true"]:focus {
  outline: 1px solid var(--grey);
  outline-offset: 5px;
}

/* ==========
   Typography
============= */
body {
  font-size: 16px;
}

::placeholder {
  color: var(--grey);
}

.error::placeholder {
  color: var(--red);
}

p + p {
  margin-top: 0.5rem;
}

.text-title {
  font-size: 2.9rem;
  font-weight: 300;
}

.text-paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.7;
}

.list-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.clock {
  font-size: 7rem;
  line-height: 1;
}

.date {
  font-size: 1.4rem;
}

.button-add {
  font-size: 1.1rem;
  font-weight: 600;
}

.button-remove {
  font-size: 0.8rem;
}

input.input-new {
  font-size: 0.9rem;
}

@media screen and (max-width: 1050px) {
  .text-title {
    font-size: 2.4rem;
  }

  .text-paragraph {
    font-size: 1rem;
  }

  .list-title {
    font-size: 1rem;
  }

  .clock {
    font-size: 5rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 720px) {
  .text-title {
    font-size: 2rem;
  }

  .text-paragraph {
    font-size: 1rem;
  }

  .list-title {
    font-size: 1rem;
  }

  .clock {
    font-size: 3.8rem;
    line-height: 1.2;
  }
}

/* ================
   Main Grid Layout
====================*/
body {
  position: relative;
  display: grid;
  grid-gap: 1rem;
  grid:
    "..... ..... ...."
    "main main main" auto
    "clock ..... todo" auto /
    2fr 1fr max-content;
}

.main-focus {
  grid-area: main;
}

.main-clock {
  grid-area: clock;
}

.main-todo {
  grid-area: todo;
}

@media screen and (max-width: 1050px) {
  :root {
    --spacer: 0rem;
  }

  body {
    grid-gap: 2rem;
    grid:
      "..... main ....." auto
      "..... clock ....." min-content
      "..... todo ....." auto /
      1fr 3fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  body {
    grid-gap: 1rem;
    grid:
      "..... main ....." auto
      "..... clock ....." min-content
      "..... todo ....." auto /
      2rem 1fr 2rem;
  }
}

/* ===============
   General Styles
================== */
.main-settings {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 2rem;
}

.toggle-theme {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle-theme-title {
  margin-right: 1rem;
}

.toggle-theme-button {
  background-color: var(--dark);
  color: var(--light);
  min-width: 40px;
  min-height: 20px;
  position: relative;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
  transition: back;
}

.toggle-theme-button::after {
  content: "";
  position: absolute;
  background-color: var(--light);
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  transition: transform ease-out 250ms;
}

.toggle-theme-button.clicked::after {
  transform: translateX(100%);
}

.goto-google:hover,
.goto-google:focus {
  opacity: 0.6;
}

.goto-google svg {
  max-width: 100%;
  width: 1.3rem;
  fill: var(--light);
}

.main-focus,
.main-clock {
  display: flex;
  flex-direction: column;
}

.main-focus {
  align-items: center;
}

.user-thoughts {
  padding: 1rem 2rem;
  cursor: text;
  text-align: justify;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  transition: background-color ease-out 500ms;
}

.main-clock {
  margin-left: var(--spacer);
}

.main-todo {
  --space: 1rem;
  font-size: 90%;
  margin-right: var(--spacer);
  display: flex;
  flex-direction: row;
  max-width: 620px;
}

@media screen and (max-width: 1050px) {
  .main-focus {
    padding-top: 5rem;
  }

  .main-clock {
    text-align: center;
  }

  .user-thoughts {
    min-height: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .user-thoughts {
    text-align: center;
  }

  .main-todo {
    flex-direction: column;
  }
}

/* Todo lists */
.lists-header {
  margin-bottom: var(--space);
}

.lists-item {
  cursor: pointer;
  margin-bottom: 0.25em;
  transition: color 200ms ease-out, transform 200ms ease-out;
}

.lists-item.active {
  color: var(--brown);
}

.lists-item:hover,
.lists-item:focus {
  color: var(--grey);
  transform: scale(0.98);
}

.new-item-form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

input.input-new {
  border-bottom: 2px solid var(--light);
  padding: 0.5em 0;
  flex: 1;
}

.button-add {
  margin-right: 0.5em;
  margin-left: -1.5rem;
}

/* Todo tasks */
.todo-tasks {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tasks-header,
.tasks-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.tasks-header {
  margin-bottom: var(--space);
}

.list-name {
  margin-right: 1rem;
  color: var(--brown);
}

.task-counter {
  font-size: 0.85rem;
  align-self: center;
}

.tasks-body {
  margin-bottom: var(--space);
}

.task-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.task-label {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  line-height: 2;
  text-decoration-color: transparent;
  transition: text-decoration-color 250ms ease-in-out;
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  border: 2px solid var(--light);
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  transition: box-shadow 150ms ease-in-out, border-color 150ms ease-in-out,
    opacity 150ms ease-in-out;
}

.task-checkbox:checked + label .custom-checkbox {
  background-color: var(--grey);
  border-color: var(--grey);
  box-shadow: inset 0 0 0 5px white;
}

.task-checkbox:checked + label {
  opacity: 0.7;
  text-decoration: line-through;
  text-decoration-color: var(--light);
}

.tasks-footer {
  margin-top: var(--space);
}

.clear-completed-tasks {
  margin-right: 1rem;
}

.button-remove {
  cursor: pointer;
  transition: color 200ms ease-out;
}

.button-remove:hover,
.button-remove:focus {
  color: var(--red);
}

@media screen and (max-width: 720px) {
  .todo-lists {
    margin-bottom: 1rem;
  }

  .todo-tasks {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
